@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900;1,14..32,100..900&family=Lexend:wght@100..900&display=swap');
:root {
  --font-base: "Lexend", sans-serif;
  --font-second-base: "Inter", sans-serif;
  --bg-color: #ffffff;
  --secondary-color: #e50914;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #111;
}
img{
  width:  100px;
}
